.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
}

.image {
  margin: 20px;
}

.headertext {
  margin: 0;
  list-style-type: none;
  text-align: right;
  padding-left: 20px;
}

.headertext > li {
  display: inline-block;
  padding: 10px 40px 10px 0px;
}
.headertext > li > a,
.headertext > li > a:visited {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.headertext > li > a:hover {
  text-decoration: underline;
}

.welcome {
  margin-top: 20px;
  font-family: "Quicksand";
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.1em;
}

.heading {
  display: flex;
}

.title {
  font-size: 100px;
  width: 1000px;
  text-align: center;
  margin: 40px 0px;
  line-height: 1.1;
}

.highlight {
  color: #EC7CDB;
}

.description {
  font-family: "Quicksand";
  font-size: 20px;
  width: 800px;
  text-align: center;
  line-height: 1.5;
}

.continue {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 1.15385;
  margin-top: 40px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.continue:hover,
.continue:focus {
  background-color: #b3d3ea;
  color: black;
}

.continue:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.continue:active {
  background-color: #6694b8;
  box-shadow: none;
  color: black;
}
