.container {
  background-color: #f8f0e3;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f8f0e3;
  color: black;
  font-size: 15px;
  font-family: "Quicksand";
}

.headertext {
  margin-top: 25px;
  list-style-type: none;
  text-align: right;
  padding-left: 20px;
}

.headertext > li {
  display: inline-block;
  padding: 10px 40px 10px 0px;
}
.headertext > li > a,
.headertext > li > a:visited {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.headertext > li > a:hover {
  text-decoration: underline;
}

.image {
  margin: 20px 0px 0px 20px;
}

.heading {
  display: flex;
}

.title {
  font-size: 100px;
  width: 1000px;
  text-align: center;
  margin: 100px 0px 50px 0px;
  line-height: 1.1;
}

.highlight {
  color: #4B0082;
}

.description {
  font-family: "Quicksand";
  font-size: 20px;
  width: 800px;
  text-align: center;
  line-height: 1.5;
}

.continue {
  background-color: #F5F5F5;
  border-radius: 3px;
  border: solid grey 2px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-family: "Quicksand";
  line-height: 1.15385;
  margin-top: 50px;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.continue:hover,
.continue:focus {
  background-color: #DCDCDC;
  border: solid black 2px;
}

.continue:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.continue:active {
  background-color: #C0C0C0;
  box-shadow: none;
  color: black;
}
