.total {
  display: flex;
  flex-direction: row;
  background: #f3eadbe6;
}

.sentiment {
  margin: 20px;
}

.main {
  width: 70%;
  height: 100vh;
  margin: auto;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f0e3;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.header {
  font-family: "Quicksand";
  color: #404040;
  margin: 0;
  padding: 10px;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.messages {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #fff;
  width: 80ch;
  display: flex;
  flex-direction: column-reverse;
  height: 105vh;
  max-height: 100vh;
  overflow: scroll;
  margin-bottom: 5px;
}

.leftmessage,
.rightmessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px 12px;
}

.lefttext {
  color: #404040;
  border: 2px #8e83c1 solid;
  align-self: start;
  text-align: left;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  background: #e3ddff;
  border-radius: 10px;
  padding: 10px 15px;
  
}

.righttext {
  align-self: end;
  text-align: right;
  font-size: 20px;
  border: 2px #696969 solid;
  border-radius: 10px;
  background: #DCDCDC;
  color: #404040;
  padding: 10px 15px;

}

.inputarea {
  display: flex;
  flex-direction: row;
}

.submitbutton,
.microphonebutton {
  background-color: #F5F5F5;
  width: 57px;
  height: 57px;
  border-radius: 10px;
  border: solid grey 2px;
}

.submitbutton {
  margin-left: 10px;
  margin-right: 5px;
  padding: 6px;
}

.microphonebutton {
  margin-left: 5px;
  padding: 12px;
}

.submitbutton:hover,
.submitbuttonbutton:focus,
.microphonebutton:hover,
.microphonebutton:focus {
  background-color: #DCDCDC;
  border: solid black 2px;
}

.submitbutton:active,
.microphonebutton:active {
  background-color: #C0C0C0;
}

.input {
  align-self: flex-end;
  background-color: white;
  /* width: 300px;
  color: black; */

  width: 60ch;
  padding: 15px 15px;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 1.25rem;
  color: black;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
}

.input:focus {
  outline: none;
  border: 2px solid black;
}

.sentence_gen {
  margin-top: 5px;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.sentence_gen_list {
  top: calc(100% + 10px);
  width: 100%;
  padding: 5px 15px;
  margin: 0;
  list-style: none;
  border: 2px solid gray;
  border-radius: 10px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.sentence_gen_list:hover {
  border: 2px solid black;
}

.sentence_gen_item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sentence_gen_item_a {
  display: block;
  text-decoration: none;
  color: gray;
  font-weight: 12;
  transition: all 0.3s ease;
  width: 100%;
  padding: 10px 0;
  font-family: "Nunito", sans-serif;
}

.sentence_gen_item_a:hover {
  color: black;
  cursor: pointer;
}

.sentence_gen_no_gens {
  text-align: center;
  display: block;
  text-decoration: none;
  color: gray;
  font-weight: 12;
  transition: all 0.3s ease;
  width: 100%;
  padding: 10px 0;
}
